.main {
  background-image: url("../../../public/assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.info_block {

  &__subhead {

  }

  &__heading {

  }

  &__text {

  }
}

